@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: w;
    src: url(./fonts/AntonSC-Regular.ttf);
}

body {
    color: #fff;
    font-family: w;
    src: url(./fonts/AntonSC-Regular.ttf);
    overflow-x: hidden;
    background-color: #000000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.navbar span {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate 5s infinite linear;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }

    100% {
        left: 100%;
        transform: translate(0%);
    }
}

.logo {
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
    font-family: w;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.proje {
    font-size: 60px;
    text-align: center;
}

.menu {
    display: flex;
    gap: 8rem;
    text-transform: uppercase;
    font-weight: 100;
}

.btn {
    font-weight: 500;
    text-transform: uppercase;
}

.menu li a:hover {
    box-shadow: 8px 8px 8px  rgba(1, 1, 1, 2);
    transition: box-shadow 0.3s ease-in-out;
}

.menu li a {
    position: relative;
    padding: 0.5rem;
    border-radius: 4px;
}


.wrapper {
    display: flex;
}

section {
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.video-section video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}

.img-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.about {
    font-size: 60px;
    text-align: center;
}

.section {
    background-color: #000000;
    padding: 7rem;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-top: 6rem;
}

.columns {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.col img {
    object-fit: cover;
}

.col-1 {
    display: flex;
    gap: 1.5rem;
    flex: 5;
}

.box1 .col-1 img:first-child {
    width: 150px;
    height: 180px;
    transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2) {
    width: 380px;
    height: 430px;
}

.box1 .col-3 img:first-child {
    width: 320px;
    height: 170px;
}

.box1 .col-3 img:nth-child(2) {
    width: 150px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.5));
}

.box1 .col-3 img:nth-child(3) {
    width: 200px;
    height: 200px;
}
.col-3 {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex: 4;
    border: none;
}

.box4 .col-1 img:first-child {
    width: 150px;
    height: 180px;
    transform: translateY(-30px);
}

.box4 .col-1 img:nth-child(2) {
    width: 380px;
    height: 430px;
}

.box4 .col-3 img:first-child {
    width: 320px;
    height: 170px;
}

.box4 .col-3 img:nth-child(2) {
    width: 150px;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.5));
}

.box4 .col-3 img:nth-child(3) {
    width: 200px;
    height: 200px;
}

.col-2 {
    margin: auto;
    flex: 2;
}

.box2 .col-2 {
    margin: auto;
    flex: 2;
}

.box2 .col-2 {
    margin: auto;
    flex: 2;
}

.col-2 h1 {
    font-family: w;
    font-size: 100px;
    text-transform: capitalize;
    position: absolute;
    top: 0px;
    left: 44%;
    z-index: 100;
}

.box1 .col-2 h1 {
    top: 0;
}

.box2 .col-2 h1 {
    top: 0rem;
}

.box4 .col-2 h1 {
    top: -3rem;
}

.box4 {
    margin-top: 5rem;
}

.col-2 span {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .7;
}

.line {
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 4rem 0;
}

.line2 {
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 1rem 0rem;
}

.line3 {
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 1rem 0rem;
}

.line4 {
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin-top: 2rem 0rem;
}

.text-box p {
    font-size: 14px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;
}

.text-box2 p {
    font-size: 14px;
    line-height: 1.9;
    padding-bottom: 2.5rem;
    opacity: .7;
}

.text-box4 p {
    font-size: 14px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;
}

.box2 .col-1 img:first-child {
    width: 200px;
    height: 250px;
    transform: translateY(200px);
}


.box2 .col-1 img:nth-child(2) {
    height: 380px;
    width: 300px;
}

.box2 .col-3 img:nth-child(1) {
    height: 300px;
    width: 220px;
}

.box2 .col-3 img:nth-child(2) {
    width: 180px;
    height: 200px;
    align-self: flex-end;
}

.box2 .col-3 img:nth-child(3) {
    width: 380px;
    height: 200px;
    transform: translateX(80px);
}


.box3 .col-1 {
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1) {
    width: 200px;
    height: 280px;
    transform: translateX(30px);
}

.box3 .col-1 img:nth-child(2) {
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;
}

.box3 .col-1 img:nth-child(3) {
    width: 280px;
    height: 180px;
}

.box3 .col-1 img:nth-child(4) {
    width: 250px;
    height: 180px;
    transform: translateY(-30px);
    filter: drop-shadow(10px 10px 10px rgba(28, 76, 113, 0.5));
}

.box3 .col-3 img {
    width: 400px;
    height: auto;
    filter: drop-shadow(20px 20px 20px rgba(183, 23, 23, 0.5));

}

footer {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.text-content {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    font-family: w;
    width: 450px;
    position: relative;
    height: 160px;
    overflow: hidden;
}

.bg {
    font-size: 100px;
}

.sm {
    font-size: 35px;
    height: 40px;
}

.left {
    left: -25%;
}

.right {
    top: 50px;
    left: 75%;
}

.title span {
    position: absolute;
}

.n {
    z-index: -1;

}

.text-content p {
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}

.v_container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.tv {
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.bottom {
    transform: translateY(70px);
}



.text-container {
    max-width: 260px;
}

.text-container p {
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}


.right-side {
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.right-side p {
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-arrow-right-long {
    transform: translateX(20px);
}

li {
    list-style: none;
    display: inline-block;
    font-size: 23px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#lii {
    transition: transform 0.4s, box-shadow 0.4s, text-shadow 0.6s;
    transition-delay: 0.2s;
}

#lii.github:hover {
    box-shadow: 0px 0px 7px #ffffff inset, 0px 0px 7px #ffffff;
}

#lii.instagram:hover {
    box-shadow: 0px 0px 7px #98228b inset, 0px 0px 7px #a53198;
}

#lii.twitter:hover {
    box-shadow: 0px 0px 7px #227fbd inset, 0px 0px 7px #25c2de;
}

#lii.youtube:hover {
    box-shadow: 0px 0px 7px #d21919 inset, 0px 0px 7px #da0909;
}

#lii.facebook:hover {
    box-shadow: 0px 0px 7px #2c42b1 inset, 0px 0px 7px #3f4ed4;
}

#lii.github .icon {
    transition: 0.6s;
}

#lii.instagram .icon {
    transition: 0.6s;
}

#lii.twitter .icon {
    transition: 0.6s;
}

#lii.youtube .icon {
    transition: 0.6s;
}

#lii.facebook .icon {
    transition: 0.6s;
}

.github {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.instagram {
    border: 2px solid #ff0095;
    color: #c72b7e;
}

.twitter {
    border: 2px solid #1c9ff1;
    color: #1c9ff1;
}

.youtube {
    border: 2px solid #ff0000;
    color: #ff0000;
}

.facebook {
    border: 2px solid #0679e6;
    color: #0679e6;
}

#lii.github:hover .icon1 {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px #ff0095;
}

#lii.instagram:hover .icon2 {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px #1c9ff1;
}

#lii.twitter:hover .icon3 {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px #ff0000;
}

#lii.youtube:hover .icon4 {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px #0679e6;
}

#lii.facebook:hover .icon5 {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px #ffffff;
}

.ull2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.icon {
    transition: 0.6s;
}

li {
    transition: 0.4s;
    transition-delay: 0.2s;
}

.icons-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.icons-vertical i {
    font-size: 2.1rem;
    margin: 10px 0;  
}

.icons-vertical .fa-python {
    color: #3776AB;
}

.icons-vertical .fa-java {
    color: #da1919;
}

.icons-vertical .fa-html5 {
    color: #e0591f9f;
}

.icons-vertical .fa-css3-alt {
    color: #0088ff;
}

.icons-vertical .fa-js-square {
    color: #fbff00;
}

.icons-vertical .fa-aws {
    color: #FF9900;
}

.icons-vertical .fa-mysql {
    color: #4479A1;
}

.icons-vertical .fa-database {
    color: #3e7eb3;
}

.icons-vertical img {
    margin: 10px 0; 
    width: 48px;
    height: 48px;
}


/* Experimento acá */

#img-f {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#h1-f {
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: -4px;
}

section.hero {
    width: 100vw;
    height: 100vh;
    background: url(/media/titulo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero #h1-f {
    font-family: "PP Editorial Old";
    font-weight: lighter;
    color: #fff;
    text-align: center;
}

section.info {
    width: 100vw;
    height: 150vh;
    background-color: #000;
    color: #fff;
}

.header-row {
    width: 100%;
    height: 250px;
    padding: 0 2em;
}

.header-row:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-row:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-info {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.header-info p {
    padding: 1em;
    font-family: "PP Editorial Old";
    font-size: 46px;
    font-weight: lighter;
}

.header-images {
    width: 100%;
    height: 250px;
    padding: 1em;
    display: flex;
    gap: 1em;
}

#img-f {
    width: 100%;
    height: 100%;
}

section.pinned {
    position: absolute;
    top: 620vh;
    width: 100%;
    height: 250vh;
    z-index: 2;
}

section.whitespace {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: -1;
}

.revealer {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 35%;
    margin-top: 325px;
    width: 120px;
    height: 120px;
}

.revealer .revealer-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

.revealer .revealer-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

section.website-content {
    position: relative;
    width: 100%;
    height: 150vh;
    background-color: #000000;
    z-index: 10;
}

.website-content #h1-f {
    font-size: 72px;
    letter-spacing: 0;
}

@media (max-width: 900px) {
    .hero #h1-f {
        font-size: 42px;
        letter-spacing: 0;
    }

    .header-row {
        height: 100px;
    }

    .header-row #h1-f {
        font-size: 60px;
        letter-spacing: 0;
    }

    .revealer {
        left: 50% !important;
        width: 100px;
        height: 100px;
        margin-top: 400px;
    }

    .header-info p {
        font-size: 24px;
    }

    .website-content #h1-f {
        font-size: 48px;
        padding: 1em;
    }
}

/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
